.kite{
    width: 10%;
    height: 10%;
    margin-left: 20px;
    margin-top: 30px;
}
.rite{
    width: 99%;
    height: 30%;
    position:absolute;
    bottom: 0%;
}
.rise{
    width: 40%;
    height:50px;
    padding: 20px;
    margin: 0px;
    border-radius:25px;
    background: whitesmoke;
}
.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.quick{
    width: 80px;
    height: 80px;
    justify-self: center;
}
.dot{
    padding-top: 100px;
}
.run{
    padding: 0px 0px 0px 550px;
}
.curie{
    width: 40px;
    height: 40px;
    background-color:#FF3A21;
    border-radius: 5000px;
    text-align: center;
    margin: 0px 0px 0px 1300px;
    color: white;
    font-size: 30px;
    font-style: normal;
}